# build products (setup.sh copies, makedefs output, objects, playground)
/Makefile
/src/Makefile
/dat/Makefile
/doc/Makefile
/util/Makefile
*.o
*.lev
/src/Sysunix
/src/*.h-t
/src/monstr.c
/src/vis_tab.c
/src/slashem
/dat/data
/dat/dungeon
/dat/dungeon.pdf
/dat/options
/dat/oracles
/dat/quest.dat
/dat/quest_levs
/dat/rumors
/dat/spec_levs
/doc/Guidebook
/include/date.h
/include/dgn_comp.h
/include/filename.h
/include/lev_comp.h
/include/onames.h
/include/pm.h
/include/vis_tab.h
/util/dgn_comp
/util/dgn_lex.c
/util/dgn_yacc.c
/util/lev_comp
/util/lev_lex.c
/util/lev_yacc.c
/util/makedefs
/util/recover
/util/tilemap
/install/
/playground/
/web/dist/
/web/seed/
